<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- This file is used by the mainmenu.c file -->
<MAINMENU color="0xC3C3C3" border="0x000000">
	<MENUITEM color="0xC3C3C3" border="0x000000" font="PF Tempesta Five">
		<CAPTION font-family="Arial" font-size="9">MENU HELPER</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE>.\icos\Hart.png</IMAGE>
		<POPUP>2</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE></EXECUTE>
	</MENUITEM>
	<MENUITEM >
		<CAPTION font-family="Arial" font-size="9">Configure</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE>.\icons\Settings.png</IMAGE>
		<POPUP>2</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE></EXECUTE>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Proyectos</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE></IMAGE>
		<POPUP>1</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>c:\</EXECUTE>
		<MENUITEM border="0x000000" font="PF Tempesta Five">
			<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Compiler</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icos\applications-other.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\LCC\PROJECTS</EXECUTE>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Key Manager</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icos\application-certificate.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\</EXECUTE>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION>-</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icos\gra.bmp</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_SEPARATOR</MENUTYPE>
			<EXECUTE>c:\</EXECUTE>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Todo List</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icos\appointment-soon.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Program Files\PellesC\Bin\poide.exe</EXECUTE>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Internet</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<FONTSIZE>8</FONTSIZE>
		<COLOR>0x000064</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE></IMAGE>
		<POPUP>2</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>menu.xml</EXECUTE>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Tools</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR col="8421504">0x808080</BGCOLOR>
			<IMAGE>..\icons\preferences-desktop_001.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>c:\windows\notepad.exe</EXECUTE>
			<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
				<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Browsers</CAPTION>
				<FONT>PF Tempesta Five</FONT>
				<COLOR>0x242424</COLOR>
				<BGCOLOR>0x808080</BGCOLOR>
				<IMAGE>..\icons\web-browser.png</IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>c:\windows\notepad.exe</EXECUTE>
				<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
					<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Explorer</CAPTION>
					<FONT>PF Tempesta Five</FONT>
					<COLOR>0x242424</COLOR>
					<BGCOLOR>0x808080</BGCOLOR>
					<IMAGE>.\icons\Internet Explorer.png</IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Program Files\Internet Explorer\IEXPLORE.EXE</EXECUTE>
				</MENUITEM>
				<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
					<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Chrome</CAPTION>
					<FONT>PF Tempesta Five</FONT>
					<COLOR>0x242424</COLOR>
					<BGCOLOR>0x808080</BGCOLOR>
					<IMAGE>.\icons\Google Chrome alt.png</IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Documents and Settings\Administrator\Desktop\virtual machine img\opera924int\operausb.exe</EXECUTE>
				</MENUITEM>
				<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
					<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Firefox</CAPTION>
					<FONT>PF Tempesta Five</FONT>
					<COLOR>0x242424</COLOR>
					<BGCOLOR>0x808080</BGCOLOR>
					<IMAGE>.\icons\Firefox.png</IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Documents and Settings\Administrator\Desktop\virtual machine img\opera924int\operausb.exe</EXECUTE>
				</MENUITEM>
			</MENUITEM>
			<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
				<CAPTION>-</CAPTION>
				<FONT>PF Tempesta Five</FONT>
				<COLOR>0x242424</COLOR>
				<BGCOLOR>0x808080</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_SEPARATOR</MENUTYPE>
				<EXECUTE>c:\windows\notepad.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
				<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Gmail</CAPTION>
				<FONT>PF Tempesta Five</FONT>
				<COLOR>0x242424</COLOR>
				<BGCOLOR>0x808080</BGCOLOR>
				<IMAGE>.\icons\Gmail.png</IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Documents and Settings\Administrator\Desktop\winscp382.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
				<CAPTION font-family="Arial" font-size="9" color="0xFF0000">Skype</CAPTION>
				<FONT>PF Tempesta Five</FONT>
				<COLOR>0x242424</COLOR>
				<BGCOLOR>0x808080</BGCOLOR>
				<IMAGE>.\icons\Skype.png</IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Documents and Settings\Administrator\Desktop\utorrent.exe</EXECUTE>
			</MENUITEM>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION>-</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE></IMAGE>
			<POPUP>2</POPUP>
			<MENUTYPE>MF_SEPARATOR</MENUTYPE>
			<EXECUTE></EXECUTE>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION font-family="Arial" font-size="9" color="0xFF0000">YouTube</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icons\YouTube.png</IMAGE>
			<POPUP>2</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE></EXECUTE>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION>sep2</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE></IMAGE>
		<POPUP>2</POPUP>
		<MENUTYPE>MF_SEPARATOR</MENUTYPE>
		<EXECUTE></EXECUTE>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION>Media</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE>.\icons\Audio CD.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>..\icons\media-flash_003.png</EXECUTE>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION>Música</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icons\folder_page.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Documents and Settings\Administrator\My Documents\My Music</EXECUTE>
		</MENUITEM>
		<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION>Imágenes</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icons\folder_page.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Documents and Settings\Administrator\My Documents\My Pictures</EXECUTE>
		</MENUITEM>
			<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
			<CAPTION>Documentos</CAPTION>
			<FONT>PF Tempesta Five</FONT>
			<COLOR>0x242424</COLOR>
			<BGCOLOR>0x808080</BGCOLOR>
			<IMAGE>.\icons\folder_page.png</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Documents and Settings\Administrator\My Documents</EXECUTE>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION>Calendar</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE>.\icons\calendar.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>C:\Program Files\PellesC\Projects\MyMDI\MyMDI.exe</EXECUTE>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION>sep1</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE></IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_SEPARATOR</MENUTYPE>
		<EXECUTE>C:\WINDOWS\system32\calc.exe</EXECUTE>
	</MENUITEM>
	<MENUITEM font="PF Tempesta Five" size="9" color="0xFF0000" style="bold" background="0xFF000" img="">
		<CAPTION>Exit</CAPTION>
		<FONT>PF Tempesta Five</FONT>
		<COLOR>0x242424</COLOR>
		<BGCOLOR>0xC3C3C3</BGCOLOR>
		<IMAGE width="32" height="32">.\icos\close.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE></EXECUTE>
	</MENUITEM>
</MAINMENU>	
		