<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- This file is used by the mainmenu.c file -->
<MAINMENU>
	<MENUITEM>
		<CAPTION>Proyectos</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>11184810</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\DVD.ico</IMAGE>
		<POPUP>1</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>menu.xml</EXECUTE>
		<MENUITEM>
				<CAPTION>compiler</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>1235</BGCOLOR>
				<IMAGE>.\icos\foto.bmp</IMAGE>
				<POPUP>1</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\LCC\PROJECTS</EXECUTE>
		</MENUITEM>
		<MENUITEM>
				<CAPTION>IBM</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>300</BGCOLOR>
				<IMAGE>.\icos\gra.bmp</IMAGE>
				<POPUP>1</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\LCC\Download_examples</EXECUTE>
		</MENUITEM>
		<MENUITEM>
				<CAPTION>-</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>255</BGCOLOR>
				<IMAGE>.\icos\gra.bmp</IMAGE>
				<POPUP>1</POPUP>
				<MENUTYPE>MF_SEPARATOR</MENUTYPE>
				<EXECUTE>c:\</EXECUTE>
		</MENUITEM>
		<MENUITEM>
				<CAPTION>pellec</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>300</BGCOLOR>
				<IMAGE>.\icos\bat.bmp</IMAGE>
				<POPUP>1</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\LCC\Download_examples</EXECUTE>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>Internet</CAPTION>
		<FONT>Verdana</FONT>
		<FONTSIZE>8</FONTSIZE>
		<COLOR>11184810</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\MSN.ico</IMAGE>
		<POPUP>2</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>menu.xml</EXECUTE>
		<MENUITEM>
			<CAPTION>Tools</CAPTION>
			<FONT>Verdana</FONT>
			<COLOR>11184810</COLOR>
			<BGCOLOR>11184810</BGCOLOR>
			<IMAGE>.\icos\foto.bmp</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>c:\windows\notepad.exe</EXECUTE>
			<MENUITEM>
				<CAPTION>Browsers</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>c:\windows\notepad.exe</EXECUTE>
				<MENUITEM>
					<CAPTION>Firefox</CAPTION>
					<FONT>Verdana</FONT>
					<COLOR>11184810</COLOR>
					<BGCOLOR>8421504</BGCOLOR>
					<IMAGE></IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Program Files\Mozilla Firefox\firefox.exe</EXECUTE>
				</MENUITEM>
				<MENUITEM>
					<CAPTION>B</CAPTION>
					<FONT>Verdana</FONT>
					<COLOR>11184810</COLOR>
					<BGCOLOR>8421504</BGCOLOR>
					<IMAGE></IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_MENUBARBREAK</MENUTYPE>
					<EXECUTE>C:\</EXECUTE>
				</MENUITEM>
				<MENUITEM>
					<CAPTION>IExplorer</CAPTION>
					<FONT>Verdana</FONT>
					<COLOR>11184810</COLOR>
					<BGCOLOR>8421504</BGCOLOR>
					<IMAGE></IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Program Files\Internet Explorer\IEXPLORE.EXE</EXECUTE>
				</MENUITEM>
				<MENUITEM>
					<CAPTION>IExplorer</CAPTION>
					<FONT>Verdana</FONT>
					<COLOR>11184810</COLOR>
					<BGCOLOR>8421504</BGCOLOR>
					<IMAGE></IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Program Files\Internet Explorer\IEXPLORE.EXE</EXECUTE>
				</MENUITEM>
				<MENUITEM>
					<CAPTION>IExplorer</CAPTION>
					<FONT>Verdana</FONT>
					<COLOR>11184810</COLOR>
					<BGCOLOR>8421504</BGCOLOR>
					<IMAGE></IMAGE>
					<POPUP>2</POPUP>
					<MENUTYPE>MF_STRING</MENUTYPE>
					<EXECUTE>C:\Program Files\Internet Explorer\IEXPLORE.EXE</EXECUTE>
				</MENUITEM>								
			</MENUITEM>
			<MENUITEM>
				<CAPTION>-</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_SEPARATOR</MENUTYPE>
				<EXECUTE>c:\windows\notepad.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM>
				<CAPTION>SFTP</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Documents and Settings\Administrator\Desktop\winscp382.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM>
				<CAPTION>PuTTy</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Program Files\PuTTY\putty.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM>
				<CAPTION>ThunderBird</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>11184810</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Program Files\Mozilla Thunderbird\thunderbird.exe</EXECUTE>
			</MENUITEM>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>IBM2</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>11184810</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\Hart.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>c:\windows</EXECUTE>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>Mail</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>11184810</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\postal.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>c:\windows</EXECUTE>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>Mi Musica</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>6736383</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\spider.png</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_STRING</MENUTYPE>
		<EXECUTE>.\icos\audio.bmp</EXECUTE>
		<MENUITEM>
			<CAPTION>Media Player</CAPTION>
			<FONT>Verdana</FONT>
			<COLOR>6936383</COLOR>
			<BGCOLOR>8421504</BGCOLOR>
			<IMAGE></IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Program Files\Windows Media Player\wmplayer.exe</EXECUTE>
		</MENUITEM>
		<MENUITEM>
			<CAPTION>-</CAPTION>
			<FONT>Verdana</FONT>
			<COLOR>6736383</COLOR>
			<BGCOLOR>255</BGCOLOR>
			<IMAGE></IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE>C:\Archivos de programa\Winamp\winamp.exe</EXECUTE>
		</MENUITEM>
		<MENUITEM>
			<CAPTION>Mi Música</CAPTION>
			<FONT>Verdana</FONT>
			<COLOR>6736383</COLOR>
			<BGCOLOR>8421504</BGCOLOR>
			<IMAGE>.\icos\infox.ico</IMAGE>
			<POPUP>1</POPUP>
			<MENUTYPE>MF_STRING</MENUTYPE>
			<EXECUTE></EXECUTE>
			<MENUITEM>
				<CAPTION>Archivos MP3</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>16765644</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>C:\Program Files\Windows Media Player\wmplayer.exe</EXECUTE>
			</MENUITEM>
			<MENUITEM>
				<CAPTION>Fran</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>16765644</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>e:\music\Moby - Lift Me Up.mp3</EXECUTE>
			</MENUITEM>
			<MENUITEM>
				<CAPTION>Musica</CAPTION>
				<FONT>Verdana</FONT>
				<COLOR>16765644</COLOR>
				<BGCOLOR>8421504</BGCOLOR>
				<IMAGE></IMAGE>
				<POPUP>2</POPUP>
				<MENUTYPE>MF_STRING</MENUTYPE>
				<EXECUTE>e:\</EXECUTE>
			</MENUITEM>
		</MENUITEM>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>-</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>11184810</COLOR>
		<BGCOLOR>255</BGCOLOR>
		<IMAGE>0</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_SEPARATOR</MENUTYPE>
		<EXECUTE>c:\</EXECUTE>
	</MENUITEM>
	<MENUITEM>
		<CAPTION>Putty</CAPTION>
		<FONT>Verdana</FONT>
		<COLOR>11184810</COLOR>
		<BGCOLOR>12829635</BGCOLOR>
		<IMAGE>.\icos\Network.ico</IMAGE>
		<POPUP>0</POPUP>
		<MENUTYPE>MF_SEPARATOR</MENUTYPE>
		<EXECUTE>C:\Program Files\PuTTY\putty.exe</EXECUTE>
	</MENUITEM>
</MAINMENU>	
		